[submodule "client"]
	path = client
	url = https://github.com/SimardCodeTard/mini_chat-client
	branch = main
[submodule "server"]
	path = server
	url = https://github.com/SimardCodeTard/mini_chat-server
	branch = main
