[submodule "client"]
	path = client
	url = git@github.com:SimardCodeTard/mini_chat-client.git
	branch = main
[submodule "server"]
	path = server
	url = git@github.com:SimardCodeTard/mini_chat-server.git
	branch = main
